/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #1e1e1e;
  font-family: 'Arial', sans-serif;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

.game {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
  max-width: 500px;
}

.title {
  font-size: 3rem;
  margin-bottom: 20px;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}

.score {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 20px;
}

.p-count,
.c-count {
  font-size: 1.5rem;
}

.options {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 20px;
}

.rock,
.paper,
.scissor {
  padding: 10px;
  font-size: 1rem;
  font-weight: bold;
  background: #3f3f3f;
  border: 2px solid #7f7f7f;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.2s;
}

.rock:hover,
.paper:hover,
.scissor:hover {
  background: #7f7f7f;
  border-color: #3f3f3f;
}

.result {
  font-size: 1.25rem;
  margin-bottom: 20px;
}

.reload {
  display: none;
  padding: 10px;
  font-size: 1rem;
  font-weight: bold;
  background: #3f3f3f;
  border: 2px solid #7f7f7f;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.2s;
}

.reload:hover {
  background: #7f7f7f;
  border-color: #3f3f3f;
}
